p { margin-top: 0px; margin-bottom: 0px; }
a { text-decoration: none; font-weight: bold; color: black; }
a:active { color: black; }

#welcomeMessage { text-align: center; }
#welcomeText { text-align: center; }
#loginErrorMessage { text-align: center; }
#registerErrorMessage { text-align: center; }
#createPostTitle { text-align: center; }
#postCommentTitle { text-align: center; }
